{{ "<!-- Osano CookieConsent Javascript: https://www.osano.com/cookieconsent/documentation/about-cookie-consent/ -->"
| safeHTML }}
{{- /* Cache the cookie via resources.GetRemote for ensuring functionality */ -}}
{{- $cookieconsent_url := resources.GetRemote "https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js"
-}}
{{- $config := .Site.Params.cookies -}}
{{- with $cookieconsent_url }}
<script src="{{ .RelPermalink }}"></script>
{{ end -}}
<script>
    window.cookieconsent.initialise({{ $config | jsonify | safeJS }})
</script>
